.poke_info_wrapper {
    font-family: 'Calibri', sans-serif;
    border: 1px solid rgb(100, 8, 8);
    border-radius: 5px;
    margin: 10px auto;
    padding: 10px;
    width: 90%;
    max-width: 900px;
}

.poke_info_wrapper h2 {
    text-transform: capitalize;
}

.poke_stats {
    max-width: 300px;
}

.poke_stats div {
    display: flex;
    align-items: center;
    height: 25px;
}

.poke_stats div span:first-child {
    width: 80px;
}

.poke_stats div span:nth-child(2) {
    width: 30px;
}

.poke_stats div .stats_bar {
    display: inline-block;
    background: green;
    height: 8px;
    min-width: 2px;
    border-radius:2px;
}